.profile {
	width:30px;
	height:30px;
}
#currentContact{
	width:500px;
	height: 500px;
}
.table{
	border:2px solid black;
}
#authorize-div{
	position:absolute;
	bottom:60%;
	left:30%;
}
#authorize-button{
	font-family:Arial;
	font-size:x-large;
	padding:20px;
}
.contact{
	position:absolute;
	top:10px;
	left:80px;
}
#contactview {
	font-size: xx-large;
	font-family: Arial;
}
.contactEntry{
	border-radius: 10px;
	border-color: #F9E3DE;
	border-style: solid;
	margin:2px;

}